.neuroscribe-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: aliceblue;
}

.people{
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}

